<section>
    <h2>OUR MENU</h2>
    <div class="disp-row menu-font">
        <img src="./../../../assets/3_section_our_menu/Png/R1.png">
        <div>
            <h3>Tonkotsu Ramen</h3>
            <tr>
                <td>CHICKEN</td>
                <td>11,95€</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>13,95€</td>
            </tr>
        </div>
    </div>
    <div class="disp-row menu-font">
        <div>
            <h3>Spicy Miso Ramen</h3>
            <tr>
                <td>CHICKEN</td>
                <td>11,95€</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>13,95€</td>
            </tr>
        </div>
        <img src="./../../../assets/3_section_our_menu/Png/R2.png">
    </div>
    <div class="disp-row menu-font">
        <img class="pad-120-bot" src="./../../../assets/3_section_our_menu/Png/R3.png">
        <div>
            <h3>Shio Ramen</h3>
            <tr>
                <td>CHICKEN</td>
                <td>11,95€</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>13,95€</td>
            </tr>
        </div>
    </div>
</section>
