footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    padding: 20px;
    img{
        height: 40px;
        width: 40px;
        padding-left: 10px;
    }

    a{
        text-decoration: none;
        color: white;

        &:hover{
            color: red;
        }
    }
    } 

.sakura-pic{
    height: 44px !important;
    width: auto !important;
}